header{
    height: 181px;
    width: 100%;
    background-color: black;
    text-align: center;
}
#jb{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
footer{
    color: white;
    background-color: black;
    text-align: center;
}
#colunas3{
    margin-bottom: 30px;
    text-align: center;
}
img.rounded-circle{
    margin-bottom: 10px;
    margin-top: 5px;
}
main{
    text-align: center;
}
#btn-final{
    margin: 15px;
}